## Activity Detection using Machine Learning

In [196]:
# importing libraries
import pandas as pd

In [197]:
#importing data
df_phone=pd.read_csv('data_1600_accel_phone.txt',names=['subject','activity','time_stamp','x','y','z'])
df_phone.head()

   subject activity       time_stamp         x          y         z
0     1600        A  252207666810782 -0.364761   8.793503  1.055084
1     1600        A  252207717164786 -0.879730   9.768784  1.016998
2     1600        A  252207767518790  2.001495  11.109070  2.619156
3     1600        A  252207817872794  0.450623  12.651642  0.184555
4     1600        A  252207868226798 -2.164352  13.928436 -4.422485

In [183]:
df_phone.shape

(64311, 6)

In [184]:
#Replacing activity with int number
X_train=df_phone.activity.replace(['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S'],['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19'])
X_train.head()

0    1
1    1
2    1
3    1
4    1
Name: activity, dtype: object

In [185]:
#Dropping the unnecessary features of training set
X_train=df_phone.drop(['subject','activity'],axis=1)
X_train.head()

        time_stamp         x          y         z
0  252207666810782 -0.364761   8.793503  1.055084
1  252207717164786 -0.879730   9.768784  1.016998
2  252207767518790  2.001495  11.109070  2.619156
3  252207817872794  0.450623  12.651642  0.184555
4  252207868226798 -2.164352  13.928436 -4.422485

In [186]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(train,target)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [187]:
#Loading test dataset
df_phone20=pd.read_csv('data_1620_accel_phone.txt',names=['subject','activity','time_stamp','x','y','z'])

In [188]:
df_phone20.head()

   subject activity       time_stamp         x          y         z
0     1620        A  938034649865917  6.130188   5.923340 -0.791870
1     1620        A  938034700219921  9.979980  10.531952 -2.961151
2     1620        A  938034717004589  7.232987  11.211700 -0.783981
3     1620        A  938034767358593  6.013000   9.329330 -1.070175
4     1620        A  938034784143261  5.563065   7.343353 -4.254425

In [189]:
df_phone20.shape

(111026, 6)

In [190]:
y_test=df_phone20.activity.replace(['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S'],['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19'])
y_test.head()

0    1
1    1
2    1
3    1
4    1
Name: activity, dtype: object

In [191]:
X_test=df_phone20.drop(['subject','activity'],axis=1)
X_test.head()

        time_stamp         x          y         z
0  938034649865917  6.130188   5.923340 -0.791870
1  938034700219921  9.979980  10.531952 -2.961151
2  938034717004589  7.232987  11.211700 -0.783981
3  938034767358593  6.013000   9.329330 -1.070175
4  938034784143261  5.563065   7.343353 -4.254425

In [194]:
# prediction data for file 1920 
y_pred=clf.predict(X_test)

In [195]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.07815286509466252